<table class="table table-bordered table-striped table-hover" >
    <thead>
    <tr>
    	<th ng-if="selected" width="3%"><input type="checkbox" ng-click="updateSelection($event,'all')"></th>
        <th ng-repeat="column in columns" width="{{column.width}}">{{column.name}}</th>
        <th ng-if="operations" width="{{operateWidth}}">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="td in page.list">
    	<th ng-if="selected" >
        	<input type="checkbox" cid="{{td.id}}" name="cbname" ng-click="updateSelection($event,td.id)">
        </th>
        <td ng-repeat="column in columns" style="vertical-align: middle">
        	<div ng-if="column.columnName=='sex'"><span  ng-bind="td[column.columnName] |sex"></span></div>
        	<div ng-else-if="column.columnName=='status'" ><span ng-bind="td[column.columnName] |personStatus"></span></div>
        	<div ng-else >
				<span ng-if="column.relateName" ng-bind-html="td[column.columnName][column.relateName]">123</span>
				<span ng-else >{{td[column.columnName]}}</span>
			</div>
        </td>
        <td ng-if="operations" style="padding: 0px;">
			<md-menu>
				<md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
					<md-icon md-font-icon="fa-caret-square-o-down" class="fa fa-lg"></md-icon>
				</md-button>
				<md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
					<md-menu-item ng-repeat="operation in operations">
						<md-button ng-click="clickOperate(td.id,operation.name)">
							<md-icon md-font-icon="{{operation.imgClass}}"></md-icon>{{operation.title}}
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			<!--
        	<div ng-repeat="operation in operations" style="float:left;padding-left:2px;">
        	-->
			<!--
        		<div ng-if="operation.name=='downloadT'"><a type="button"  class="btn btn-default btn-xs" href="{{operation.url}}?id={{td.id}}"><i class="{{operation.imgClass}}" aria-hidden="true"></i> {{operation.title}}</a></div>
        		<div ng-else><button type="button" class="btn btn-default btn-xs" ng-click="clickOperate(td.id,operation.name)"><i class="{{operation.imgClass}}" aria-hidden="true"></i> {{operation.title}}</button></div>
        	-->
			<!--
				<div ng-if="operation.name=='downloadT'" class="operateButton"><a  href="{{operation.url}}?id={{td.id}}"><i class="{{operation.imgClass}}" aria-hidden="true" title="{{operation.title}}"></i></a></div>
        		<div ng-else class="operateButton"  class="operateButton"><i class="{{operation.imgClass}}" aria-hidden="true" ng-click="clickOperate(td.id,operation.name)" title="{{operation.title}}"></i></div>
        	-->
			</div>
        </td>
    </tr>
    </tbody>
</table>
<div class="row">
	<div class="col-lg-2">
		<div  ng-if="selected.length>0">
			<md-button class="md-raised md-warn" ng-click="deleteBatch()">批量删除</md-button>
		</div>
	</div>
	<div class="col-lg-10">
		<div style="float: right">
		<uib-pagination ng-change="pageChanged()" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页"  total-items="page.totalCount" ng-model="pageOption.currentPage" items-per-page="pageOption.pageSize" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
		</div>
	</div>
</div>

