<div class="modal-header">
	<h3 class="modal-title">楼盘列表</h3>
</div>
<div class="modal-body">

	<div class="col-lg-12" style="padding-left: 0px;">
		<div class="panel panel-default panel-noborder">
			<div class="panel-heading panel-border">
				<form class="form-inline">
					<input type="text" class="form-control input-l" placeholder="楼盘名称" ng-model="pageOption.title">
					<select placeholder="区域" ng-model="pageOption.areaid" class="input-md form-control">
						<option value="0">不限地区</option>
						<option value="{{area.id}}" ng-repeat="area in arealist">{{area.countryName}}</option>
					</select>
					<select placeholder="地铁" ng-model="pageOption.subwayid" class="input-md form-control">
						<option value="0">不限地铁</option>
						<option value="{{subway.id}}" ng-repeat="subway in subwaylist">{{subway.subwayName}}</option>
					</select>
					<md-button class="md-raised md-primary" ng-click="queryTable()">查询</md-button>
				</form>
			</div>
			<div class="panel-body" style="padding: 0px;"><my-table></my-table></div>
		</div>
	</div>

</div>
<div class="modal-footer">
	<md-button class="md-raised md-primary" ng-click="ok()">确定</md-button>
	<md-button class="md-raised md-warn" ng-click="cancel()">取消</md-button>
</div>
